{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
    {% for success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endfor %}

    <h1>Mon Profil</h1>

    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}

        <p>Bienvenue, {{ user.email }} !</p>
        <a href={{ path('app_edit_password') }} class="btn btn-danger">Edit password</a>
        <a href={{ path('app_logout') }} class="btn btn-secondary">Logout</a>

    {% else %}
        <p>Veuillez vous connecter pour accéder à votre profil.</p>
    {% endif %}
{% endblock %}
