{% extends 'base.html.twig' %}

{% block body %}

    {% for success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endfor %}

    <h1>Bienvenue dans le Blog HACH</h1>

    {% include 'home/listeArticle.html.twig' %}

{% endblock %}
