{% block content %}
    <div class="section">
        <div class="content">
            {{ form_start(form) }}

            {{ form_row(form.newEmail, { label: 'Changez votre email:' }) }}

            <button type="submit" class="button is-fullwidth is-primary">Mettre à jour</button>
            <a href={{ path('app_profile') }}>Retour au profil</a>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
