<form class="d-flex" role="search" action="{{ path('article_search') }}" method="GET">
    <input class="form-control me-2" type="text" name="q" placeholder="Search by title" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
